@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-manrope), sans-serif;
  --font-serif: var(--font-libertinus-serif-display), serif;
}

@theme {
  --color-paper-100: #efebe2;
  --color-paper-200: #dbd6ca;
  --color-asphalt: #777571;
  --color-night: #141413;
  --color-gold-100: #c4a043;
  --color-gold-200: #9d7d2b;
  --color-off-white: #e4e4e4;
}

html[lang="ka"] {
  --font-sans: var(--font-noto-sans-georgian), sans-serif;
  --font-serif: var(--font-noto-serif-georgian), serif;
}

html {
  --header-height: 66px;
  scroll-padding-top: var(--header-height);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
}

.gallery-swiper .swiper-button-next::after,
.gallery-swiper .swiper-button-prev::after {
  color: white;
  font-size: 2rem;
}

.gallery-swiper .swiper-pagination-bullet {
  background: white !important;
  opacity: 0.6;
}

.gallery-swiper .swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: white !important;
}
